.container{
  width: 1110px;
  margin: 0 auto;
  box-sizing: border-box;
  &--header-upper{
    display: flex;
    justify-content: space-between;
    width: 1560px;
  }
  &--header-bottom{
    display: flex;
    justify-content: flex-start;
  }
  &--events{
    display: flex;
    flex-direction: column;
  }
  &--news{
    display: flex;
    justify-content: space-between;
  }
  &-footer{
    display: flex;
  }
}
