.ordinary-news-item{
  display: flex;
  margin-bottom: 30px;
  &__info{
    display: flex;
    flex-direction: column;
  }
  &__date{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    color: #F6404F;
  }
  &__link{
    width: 160px;
    height: 120px;
  }
  &__title-link{
    display: block;
  }
  &__title{
    font-family: Plumb;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #2E373B;
  }
}
