.service-item{
  display: flex;
  flex-direction: column;
  width: 220px;
  color: #FFFFFF;
  &--footer{
    width: 200px;
    margin-right: 91px;
    margin-bottom: 30px;
  }
  &__title{
    font-family: Plumb;
    font-style: normal;
    font-weight: 500;
    &--main{
      margin-bottom: 25px;
      font-size: 30px;
      line-height: 130%;
      /* identical to box height, or 39px */
      letter-spacing: -0.01em;
    }
    &--footer{
      margin-bottom: 15px;
      font-size: 21px;
      line-height: 130%;
      letter-spacing: -0.01em;
    }
  }
  &__list{
    display: flex;
    flex-direction: column;
    &--social{
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &__link{
    display: block;
    box-sizing: border-box;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    &--main{
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 135%;
    }
    &--footer{
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 135%;
    }
  }
  &__description{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
  }
  &__subscriber-wrapper{
    display: flex;
  }
  &__email-input{
    display: block;
    box-sizing: border-box;
    width: 159px;
    padding: 10px 20px;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 135%;
    color: #9C9C9C;
  }
  &__email-submit{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background: #F6404F;
  }
}
.service-item--footer:nth-of-type(4n){
  margin-right: 0;
}
